/*格式清空*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0;padding: 0;border: 0;}
body{font-size: 12px;}
img{border: none;}
ul,ol{list-style: none;}
input,select,textarea{outline: none;}
textarea{resize:none;}
a{text-decoration: none;}
/*本页面样式*/
html{
  overflow: hidden;
}
#div1{
  width: 400px;
  height: 200px;
  background: #ccc;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#div2,#div3{
  width: 100px;
  height: 100px;
  background: #fc0;
  border-radius: 50%;
}
#div2{
  position: absolute;
  left: -50px;
  top: -50px;
}
#div3{
  position: absolute;
  bottom: -50px;
  right: -50px;
}


